@import '@taiga-ui/styles/taiga-ui-fonts';
@import '@taiga-ui/styles/taiga-ui-theme';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #111;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
