.channel-manager-layout {
  display: flex;
  height: 100%;
  width: 100%;
  
  .pane {
    padding: 1rem;
    overflow-y: auto;
  }
  
  .left-pane {
    width: 300px;
    border-right: 1px solid #333;
  }
  
  .right-pane {
    flex: 1;
  }

  .group-item {
    padding: 0.5rem;
    border-bottom: 1px solid #222;
  }
}
